# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
TweeterBotv4/bin/Debug/config.json
.vs/TweeterBotv4/DesignTimeBuild/.dtbcache
.vs/TweeterBotv4/v15/Server/sqlite3/db.lock
.vs/TweeterBotv4/v15/.suo
.vs/TweeterBotv4/v15/Server/sqlite3/storage.ide
.vs/TweeterBotv4/v15/Server/sqlite3/storage.ide-shm
.vs/TweeterBotv4/v15/Server/sqlite3/storage.ide-wal
TweeterBotv4/bin/Debug/config.json
